.react-calendar__tile.level-1 {
    background-color: #fff0f5 !important;
  }
  .react-calendar__tile.level-2 {
    background-color: #fde2ef !important;
  }
  .react-calendar__tile.level-3 {
    background-color: #fcd5e4 !important;
  }
  .react-calendar__tile.level-4 {
    background-color: #fbb6ce !important;
  }
  .react-calendar__tile.level-5 {
    background-color: #f472b6 !important;
  }
  