.react-calendar__tile.level-5 {
  background-color: #fbb6ce !important;
  border-radius: 9999px;
}
.react-calendar__tile.level-4 {
  background-color: #fcd5e4 !important;
  border-radius: 9999px;
}
.react-calendar__tile.level-3 {
  background-color: #fde2ef !important;
  border-radius: 9999px;
}
.react-calendar__tile.level-2 {
  background-color: #fff0f5 !important;
  border-radius: 9999px;
}
.react-calendar__tile.level-1 {
  background-color: #ffffff !important;
  border-radius: 9999px;
}
